// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}

#row1 {
    border-bottom: none;
    padding-bottom: 0;
  }

#row2 {
    padding-top: 0;
  }

#col1 {
    width: 70%;
    float: left;
  }

#col2 {
    width: 30%;
    text-align: right;
    float: left;
  }

input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}

p#tw_date {
    color: grey;
    font-size: 12px;
}
